.task-card {
    margin: 2em;
    padding: .5em;
	width: auto;
	height: auto ;
	border-radius: 20px;
	background-color: white;
	border-color: white;
	border-width: .25em;
	border-style: solid;
	display: flex;
    flex-direction: column;
	align-self: center;
    cursor: move;
}

.task-card:hover 
{
    border-color:rgb(0, 39, 110);
}

.task-card.pressed {
    border-color:rgb(0, 9, 26);
}

.task-card h2 {
    outline: 0px;
    margin: .5em;
    padding: .5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
	font-size: large;
	text-align: center;
}

.task-card p {
    outline: 0px;
    margin: .5em;
    padding: .5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
	text-align: left;
}

.task-card p:focus {
    border-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: .25em;
    border-style: solid;
    border-color: rgb(0, 170, 255);
	border-image: linear-gradient(to right, rgb(0, 98, 255) , rgb(0, 170, 255)) 1;
    background-color: rgb(224, 224, 224);
}

.task-card h2:focus {
    border-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: .25em;
    border-style: solid;
    border-color: rgb(0, 170, 255);
	border-image: linear-gradient(to right, rgb(0, 98, 255) , rgb(0, 170, 255)) 1;
    background-color: rgb(224, 224, 224);
}