.insert-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
	height: 100%;
    margin: 2em;
    padding: .5em;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.658);
	border-color: rgba(255, 255, 255, 0.658);
	border-width: .25em;
	border-style: solid;
	display: flex;
    flex-direction: column;
	align-self: center;
}

.insert-panel h1 {
    outline: 0px;
    margin: .5em;
    padding: .5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
	font-size: x-large;
	text-align: center;
}

.insert-panel h2 {
    outline: 0px;
    margin: .5em;
    padding: .5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: large;
	text-align: left;
}

.insert-panel p {
    outline: 0px;
    margin: .5em;
    padding: .5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
	text-align: left;
    border-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: .25em;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(224, 224, 224);
}

.insert-panel p:focus {
    border-color: rgb(0, 170, 255);
	border-image: linear-gradient(to right, rgb(0, 98, 255) , rgb(0, 170, 255)) 1;
}

.task-card h2:focus {
    border-color: rgb(0, 170, 255);
	border-image: linear-gradient(to right, rgb(0, 98, 255) , rgb(0, 170, 255)) 1;
}